* {
    outline: none;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: $main-font;
    color: $text-color;
    @include adaptiv-font(14, 12)
}

.container {
    margin: 0 auto;
    padding: 0 28px;
    max-width: 1440px;
}