//fonts
$main-font: 'Poppins', sans-serif;
$second-font: inherit;
$third-font: inherit;



// colors
$main-color: #fff;
$violet-color: #5932EA;
$green-color: #008767;
$green-bg: rgba(22, 192, 152, 0.38);
$red-color: #DF0404;
$red-bg: #FFC5C5;
$button-color: #fff;
$hover-color: #000;
$text-color: #292D32;
$grey-color: #757575;
$lightgrey-color: #838383;
$field-bg: #F9FBFF;
$menu-text: #9197B3;
$hover-text: #000;
$pagination-color: #404B52;